.App {
  text-align: center;
  background-color: #dbdbdb;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #161616;
}

/*@media (prefers-reduced-motion: no-preference) {
  .logo {
    animation: logo-spin infinite 20s linear;
  }
}*/ 

.header {
  width: 100vw;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.frame
{
  background-color: #eee;
  box-shadow: #16161640 0 0 0.25em 0.125em;
}

.box
{
  box-sizing: border-box;
  padding: 0.5rem;
  display: flex;
  font-size: calc(10px + 2vmin);
}

.logo {
  height: 6rem;
  pointer-events: none;
  right: 0;
  margin-right: 8em;
  position: absolute;
}

.link-container
{
  display: flex;
  flex-direction: row;
}

.picture
{
  width: 20em;
  height: 20em;
  object-fit: cover;
  border-radius: 9999px;
  border: solid 0.4em #eee;
  box-shadow: #16161640 0 0 0.25em 0.125em;
}

.page-container
{
  display: flex;
  flex-direction: column;
}

img[alt*="thumbnail"]
{
  width: 14em;
  height: 14em;
  margin: 0.5em;
  object-fit: cover;
  /*border-radius: 9999px;*/
  /*transform:  translateX(-2em) rotateZ(-8deg);*/
  border: solid 0.3em #555;
  box-shadow: #16161640 0 0 0.45em 0.225em;
}

img[alt*="bright"]
{
  filter: brightness(2.75);
}

img[alt*="small"]
{
  width: 20px;
}

.page
{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 80vw;
  max-width: 1400px;
  margin: 2em 0;
}

.page h1
{
  width: 100%;
}
.page p
{
  width: 30vw;
}

/*table
{
  transform: translateX(2em) rotate(8deg);
}*/

th, td
{
  padding: 0.4em;
  font-size: 80%;
}

th
{
  border-bottom: 0.1em solid #888;
}

td
{
  background-color: #e0e0e0;
}

table
{
  border-collapse: collapse;
  border: none;
  padding: 1em;
  background-color: #eee;
  box-shadow: #16161640 0 0 0.25em 0.125em;
}

.link {
  cursor: pointer;
  text-align: center;
  font-size: 75%;
  margin: 1em 1.5em;
}

.link:hover
{
  color: #0ee;
}

.social-handle
{
  background-color: #eee;
  display: inline-flex;
  padding: 1em;
  justify-content: center;
  align-items: center;
  box-shadow: #16161640 0 0 0.25em 0.125em;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 1400px) {
  .page {
    flex-direction: column;
    flex-wrap: nowrap;
  }
}