.App {
  text-align: center;
  background-color: #dbdbdb;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #161616;
}

.App-logo {
  height: 70vw;
  max-height: 50vh;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #eee;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  box-shadow: #16161640 0 0 0.25em 0.125em;
}

.picture
{
  width: 20em;
  height: 20em;
  object-fit: cover;
  border-radius: 9999px;
  border: solid 0.4em #eee;
  box-shadow: #16161640 0 0 0.25em 0.125em;
}

.App-body
{
  width: 40em;
  max-width: 80vw;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

img[alt*="thumbnail"]
{
  width: 20em;
  height: 20em;
  max-width: 80vw;
  max-height: 80vw;
  object-fit: cover;
  border-radius: 9999px;
  border: solid 0.4em #eee;
  box-shadow: #16161640 0 0 0.25em 0.125em;
}

img[alt*="bright"]
{
  filter: brightness(2.75);
}

.App-page
{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 80vw;
  min-height: 100vh;
  width: 100vw;
}

th, td
{
  padding: 0.4em;
  border: 1px solid #555;
}

table
{
  border-collapse: collapse;
  border: none;
  padding: 1em;
  background-color: #eee;
  box-shadow: #16161640 0 0 0.25em 0.125em;
}

.App-link {
  color: #0cf;
  cursor: pointer;
  text-align: center;
}

.App-link:hover
{
  color: #0ee;
}

.social-handle
{
  background-color: #eee;
  display: inline-flex;
  padding: 1em;
  justify-content: center;
  align-items: center;
  box-shadow: #16161640 0 0 0.25em 0.125em;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
